<mat-toolbar>
  <div class="left-side">
    <img src="/assets/images/logo.png" width="80" alt="Green Without Borders">
    @for (item of items.leftSide; track $index) {

      <button mat-icon-button [matTooltip]="item.name | translate" (click)="navigate(item.route)">
        <mat-icon>
          {{ item.icon }}
        </mat-icon>
      </button>
    }
  </div>

  <div class="right-side">
    <button mat-icon-button [matTooltip]="'shared.' + secLang | translate" (click)="switchLang()">
      <mat-icon>
        translate
      </mat-icon>
    </button>

    @if (isLoggedIn) {
      <button mat-icon-button [matTooltip]="'shared.profile' | translate" [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
    }
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item>{{'shared.personalInfo' | translate}}</button>
      <button mat-menu-item>{{'shared.logout' | translate}}</button>
    </mat-menu>

    @for (item of items.rightSide; track $index) {

      <button mat-icon-button [matTooltip]="item.name | translate" (click)="navigate(item.route)">
        <mat-icon>
          {{ item.icon }}
        </mat-icon>
      </button>
    }
  </div>
  
</mat-toolbar>
  