@use "./../../variables" as vars

mat-toolbar
    height: 100px
    background-color: vars.$accent-color
    border-bottom: 1.5px solid vars.$primary-color
    position: fixed
    width: 100%
    z-index: 1000
    top: 0
    display: flex
    justify-content: space-between

    .left-side, .right-side
        display: flex
        align-items: center
        gap: 5px
