<!-- Navbar Component -->
<app-header></app-header>

<!-- Main Content where the routed components will appear -->
<div class="page-content" [class.logged-in]="isLoggedIn">

  @if (isLoggedIn) {
    <app-side-bar></app-side-bar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  } @else {
    <router-outlet></router-outlet>
  }
</div>


<!-- Footer Component -->
<app-footer></app-footer>

<!-- Loader -->
<div id="loader-container">
  <div id="loader"></div>
</div>