@use '@angular/material' as mat;

// Background color
$background-color: #FFF;

// Define color palettes from Angular Material
$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn-palette: mat.define-palette(mat.$red-palette);

// Custom Colors
$primary-color: #235233;
$accent-color: #EEE; // Defining secondary color
$danger-color: mat.get-color-from-palette($warn-palette, 500);
$success-color: mat.get-color-from-palette($accent-palette, 200);
$warning-color: mat.get-color-from-palette($accent-palette, 400);
$light-text-color: #ffffff;
$dark-text-color: #141414;

// Font Variables
$default-font-family: "Cairo", sans-serif, "Helvetica Neue", sans-serif;
// Spacing Variables
$default-padding-size: 16px;
$default-margin-size: 8px;

// Border Radius
$default-border-radius-size: 8px;
